@page "/"
@inject DialogService dialog

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Radzen.Blazor.RadzenButton Text="@text" Click="@Click"></Radzen.Blazor.RadzenButton>

@code{
    string text = "click me";

    async void Click()
    {
        bool? result =  await dialog.Confirm("The Message", "The Title");
        
    }


}
