@page "/"
@inject DialogService dialog
@inject IDataProvider data
@inject AppState AppState

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class = "btn btn-light" @onclick="@Click">Click Me</button>

<CalendarList UserId="e6b153cf-594d-4318-b1ad-759d38cfde73" />

<RadzenButton Click="CreateCalendar">
    Create a Calendar
</RadzenButton>




@code{
    string text = "click me";

    async void Click()
    {
        bool? result =  await dialog.Confirm("The Message", "The Title");
    }

    async Task CreateCalendar(MouseEventArgs args)
    {
        string name = "The new calendar";
        if(!string.IsNullOrEmpty(AppState.User?.Id))
        {
            var c = await data.AddCalendar(AppState.User!.Id!, name);
            if (c.Success)
            {
                await AppState.LoadCalendars();
            }
        }
    }

}
