@page "/index"
@inject DialogService dialog
@inject IDataProvider data
@inject AppState AppState

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class = "btn btn-light" @onclick="@Click">Click Me</button>

<RadzenButton Click="GetAppointments">
    Get Appointments
</RadzenButton>




@code{
    string text = "click me";

    async void Click()
    {
        bool? result =  await dialog.Confirm("The Message", "The Title");
    }

    async Task CreateCalendar(MouseEventArgs args)
    {
        string name = "The new calendar";
        if(!string.IsNullOrEmpty(AppState.User?.Id))
        {
            var c = await data.AddCalendar(AppState.User!.Id!, name);
            if (c.Success)
            {
                await AppState.LoadCalendars();
            }
        }
    }

    async Task GetAppointments()
    {
        var s = DateTime.Parse("12/10/2023");
        var e = DateTime.Parse("12/11/2023");
        var x = await data.GetAppointments("26ca95c0-21e3-4e50-bf92-72bb711c78a3", s, e);
    }


}
