@page "/test"

<PageTitle>Test</PageTitle>

<h1>Wassuuuuuup?</h1>

Welcome to my NIGHTMARE!



<Radzen.Blazor.RadzenButton Text="@text"></Radzen.Blazor.RadzenButton>

@code{
	string text = "click me";	
	
}
