@page "/Account/Login"
@using RadzenUI.Pages.Auth.Models;
@inject NavigationManager NavMgr


<h3 class="text-center">Please Sign In</h3>

<EditForm Model="loginModel" OnValidSubmit="Submit" autocomplete="off">
	<DataAnnotationsValidator/>
	
	
	<div class="row justify-content-center my-5">
		<div class="col-lg-8">
			<ValidationSummary />

			<label class="form-label" for="@(()=>loginModel.Username)">Username</label>
			<InputText class="form-control mb-4" @bind-Value="@loginModel.Username" />

			<label class="form-label" for="@(()=>loginModel.Password)">Password</label>
			<InputText class="form-control mb-4" id="password" type="password" @bind-Value="@loginModel.Password"/>

			<button type="submit" class="btn btn-primary"> Submit</button>
		</div>
	</div>
</EditForm>



@code {
	LoginRequest loginModel = new LoginRequest();

	void Submit()
	{
		if (loginModel.Username.Equals("Mike"))
		{
			NavMgr.NavigateTo("/schedule");
		}
	}
}
