@using RadzenUI.Data;
@inject IDataProvider data


<h4>CalendarList</h4>


	@foreach (CalendarDTO c in Calendars){
		<p>@($"{c.CalendarName} - ({c.OwnerName})") </p>
	}


@code {
	[Parameter]
	public string UserId { get; set; } = string.Empty;
	public IEnumerable<CalendarDTO> Calendars { get; set; } = Enumerable.Empty<CalendarDTO>();

	protected override async Task OnInitializedAsync()
	{

		if (!string.IsNullOrEmpty(UserId))
		{
			var result = await data.GetCalendars(UserId);
			Calendars = result.Success ? result.Value : Enumerable.Empty<CalendarDTO>();

			var myCal = Calendars.Where(c => c.CalendarRole == "OWNER").OrderBy(c=>c.CalendarName).ToList();
			var otherUsers = Calendars.Where(c => c.CalendarRole != "OWNER")
				.Select(c => new {c.OwnerId, c.OwnerName}).DistinctBy(c=>c.OwnerId)
				.OrderBy(c=> c.OwnerName.ToLower())
				.ToList();
			foreach(var o in otherUsers)
			{
				Console.WriteLine(o.OwnerName);
			}

		}
		return ;
	}

}
