@inject AppState AppState
@inject NavigationManager NavMgr


<p >@path</p>

@code {

	string path=string.Empty;

	protected override void OnInitialized()
	{
		if(AppState.User is null)
		{
			AppState.ReturnTo = NavMgr.ToBaseRelativePath(NavMgr.Uri);
			NavMgr.NavigateTo("Account/Login");

		}

	}

	

	

}
