@inherits LayoutComponentBase

<PageTitle>Calendar</PageTitle>

<div class="page">
    <RememberLogin/>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CalendarTitle/>            
        </div>

        <article id="Print-Area" class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenComponents />
