@inherits LayoutComponentBase

<PageTitle>RadzenUI</PageTitle>

<div class="page">
    <RememberLogin/>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article id="Print-Area" class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenComponents />
