@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using RadzenUI.auth;
@using System.Security.Claims
@inject ProtectedSessionStorage Session
@inject AppState AppState
@inject NavigationManager NavMgr
@inject AuthenticationStateProvider AuthStateProvider


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@header</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schedule">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Account/Register">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Account/Login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@Logout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Log Out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string header = string.Empty;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        header = authState.User.Identity?.Name ?? "Guest";
        AuthStateProvider.AuthenticationStateChanged += OnAuthStateChange;        
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public async void OnAuthStateChange(Task<AuthenticationState> task)
    {
        var state = await task;
        header = state.User.FindFirst(c => c.Type == ClaimTypes.Name)?.Value ?? "Guest";
        StateHasChanged();
    }

    private async void Logout()
    {
        var authState = await((CustomAuthStateProvider)AuthStateProvider).Logout();
        await Session.DeleteAsync("AuthUser");
        NavMgr.NavigateTo("/Account/Login");
    }
}
